@CHARSET "ISO-8859-1";

/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/*-------------Common CSS------------------*/
html {
    font-size: 100%;
}

body {
    font-family: arial, helvetica, "Microsoft Yahei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


.container {
    position: relative;
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}

/*navigation*/

#navigation {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0px;
    height: 5rem;
    
    .navbar-collapse {
        height: 100% !important;
    }
    .navbar-brand {
        margin-top: 1rem;
        margin-left: 2rem;
        padding: 0;
    }
    .navbar-logo {
        height: 40px;
         margin-top: 20px;
    }
}

.navbar-collapse {
    // height: 5rem;
    float: right;
}

#nav-menu {
    margin-right: 0;
    height: 100%;
    li {
        display: inline-block;
        border-top: 5px solid transparent;
        width: 7rem;
        height: 95%;
        line-height: 5rem;
        text-align: center;
        a {
            margin-top: .5rem;
            background-color: transparent;
            color: #999;
        }
        &.cur {
            border-top: 5px solid #24a6e1;
            a {
                color: #fff;
            }
        }
        &:hover {
            background-color: rgba(28, 134, 209, .4);
            a {
                color: #fff;
            }
        }
    }
}