/* Custom CSS
 * --------------------------------------- */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.section {
  overflow: hidden;
  overflow: hidden;
  position: relative;
  min-width: 1020px; }

.fp-controlArrow {
  border: none;
  opacity: .7; }

.fp-controlArrow:hover {
  opacity: 1; }

.fp-controlArrow.fp-prev {
  background-image: url(sprite.png);
  background-position: -172px 0px;
  width: 23px;
  height: 41px; }

.fp-controlArrow.fp-next {
  background-image: url(sprite.png);
  background-position: -172px -41px;
  width: 23px;
  height: 41px; }

#fp-nav ul li a span {
  background-color: #65a6ff; }

#fp-nav ul li .fp-tooltip {
  color: #999; }

/* page 1 */
#section0 .banner {
  width: 100%;
  min-width: 900px;
  height: 100%;
  background-size: cover; }

/*page 2*/
#section1 .content {
  position: absolute;
  top: 11.6rem;
  left: 50%;
  z-index: 30;
  text-align: center;
  opacity: 0;
  transition: all 2s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  #section1 .content h1 {
    margin-bottom: 1.25rem;
    font-weight: 300;
    color: #333; }
  #section1 .content p {
    font-size: 1em;
    color: #999; }

#section1 .bg {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: url(../imgs/homePic_02.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all 2s; }

#section1.active .content,
#section1.active .bg {
  opacity: 1; }

/*page 3*/
#section2 {
  background-color: #191c1e; }
  #section2 .copywriting {
    position: absolute;
    top: 17.5rem;
    left: 5.625rem;
    opacity: 0;
    transition: all 2s; }
    #section2 .copywriting li {
      display: none; }
      #section2 .copywriting li .title {
        margin-bottom: 1rem;
        color: #ff7c3f; }
      #section2 .copywriting li:nth-child(1) .title {
        color: #37aeff; }
      #section2 .copywriting li:nth-child(2) .title {
        color: #37aeff; }
      #section2 .copywriting li:nth-child(3) .title {
        color: #ff6346; }
      #section2 .copywriting li:nth-child(4) .title {
        color: #3cc3db; }
      #section2 .copywriting li:nth-child(5) .title {
        color: #30bacb; }
      #section2 .copywriting li:nth-child(6) .title {
        color: #52a1f8; }
      #section2 .copywriting li .content {
        width: 26rem;
        font-size: 1em;
        letter-spacing: .1em;
        color: #ddd; }
    #section2 .copywriting li.cur {
      display: block; }
  #section2 .phone {
    position: absolute;
    top: 6.625rem;
    right: 6.625rem;
    z-index: 20;
    width: 16.25rem;
    height: 30.5rem;
    background: url(../imgs/pic_iphone_new.png) no-repeat;
    background-size: contain;
    opacity: 0;
    transition: all 2s; }
    #section2 .phone .screen {
      overflow: hidden;
      margin-top: 3.8rem;
      margin-left: 1.2rem;
      border-radius: 3px;
      width: 14rem;
      height: 23rem; }
    #section2 .phone img {
      display: none;
      width: 13rem;
      height: 23rem; }
    #section2 .phone img:first-child {
      display: block; }
  #section2 .nav {
    position: absolute;
    bottom: -2rem;
    z-index: 20;
    width: 100%;
    text-align: center;
    transition: all 2s; }
    #section2 .nav li {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer; }
    #section2 .nav li + li {
      margin-left: 3.125rem; }
    #section2 .nav li:nth-child(1) {
      background-image: url(sprite.png);
      background-position: -92px -40px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(1).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -132px -80px;
        width: 40px;
        height: 40px; }
    #section2 .nav li:nth-child(2) {
      background-image: url(sprite.png);
      background-position: 0px -92px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(2).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -40px -92px;
        width: 40px;
        height: 40px; }
    #section2 .nav li:nth-child(3) {
      background-image: url(sprite.png);
      background-position: -80px -92px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(3).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -120px -132px;
        width: 40px;
        height: 40px; }
    #section2 .nav li:nth-child(4) {
      background-image: url(sprite.png);
      background-position: -132px -40px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(4).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -92px 0px;
        width: 40px;
        height: 40px; }
    #section2 .nav li:nth-child(5) {
      display: inline-block;
      background-image: url(sprite.png);
      background-position: 0px -132px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(5).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -40px -132px;
        width: 40px;
        height: 40px; }
    #section2 .nav li:nth-child(6) {
      display: inline-block;
      background-image: url(sprite.png);
      background-position: -80px -132px;
      width: 40px;
      height: 40px; }
      #section2 .nav li:nth-child(6).cur {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -132px 0px;
        width: 40px;
        height: 40px; }

#section2.active .nav {
  bottom: 2rem; }

#section2.active .copywriting,
#section2.active .phone {
  opacity: 1; }

/*page4*/
#section3 .wrapper-download {
  position: absolute;
  top: 13.75rem;
  left: 12.75rem;
  z-index: 20;
  cursor: pointer; }

#section3 .container-download {
  margin-bottom: 4rem;
  width: 21.25rem;
  height: 7.5rem;
  border-radius: .25rem; }
  #section3 .container-download .logo {
    display: inline-block;
    vertical-align: 40%;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem; }
  #section3 .container-download .logo-ios {
    background-image: url(sprite.png);
    background-position: -46px 0px;
    width: 46px;
    height: 46px; }
  #section3 .container-download .logo-android {
    background-image: url(sprite.png);
    background-position: -46px -46px;
    width: 46px;
    height: 46px; }
  #section3 .container-download .content {
    display: inline-block;
    margin-top: 1.75rem;
    margin-left: 1.75rem;
    width: 12.5rem; }
    #section3 .container-download .content h2 {
      color: #333;
      margin-bottom: .2em; }
    #section3 .container-download .content p {
      font-size: .75em;
      color: #666; }

#section3 .container-download:hover {
  background-color: #f2f2f2; }
  #section3 .container-download:hover .logo-ios {
    background-image: url(sprite.png);
    background-position: 0px -46px;
    width: 46px;
    height: 46px; }
  #section3 .container-download:hover .logo-android {
    background-image: url(sprite.png);
    background-position: 0px 0px;
    width: 46px;
    height: 46px; }

#section3 .phone-code {
  position: absolute;
  top: 10rem;
  right: 11rem;
  z-index: 20;
  width: 12.75rem;
  height: 25rem; }

.footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding-top: 1.5rem;
  width: 100%;
  height: 4rem;
  font-size: .75em;
  line-height: 1.5em;
  text-align: center;
  color: #999;
  background-color: #e7e7e7; }
